<p>Hello World!!!</p> 

<p>{{name}}</p>

{{ "Interpolação entre 2 chaves {{ }}" }}
<br/>
{{ 1000.50 }}
<br/>
{{ true }}
<br/>
{{ "<strong>Strong</strong>" }}
<br/>
{{ 2 + 2 }}
<br/>
{{ "Thiago Luna" ~ " de Melo"}}
<br/><br/>